/* Zen Garden CSS */

/* basic elements */
    body{
        max-width: 1200px;
        display: flex;
        font-family: 'western';
        margin: 0 auto;
    }

/*Mobile or Narrow screen */
@media all and (min-width: 50em) {
    
    .page-wrapper {
        margin: 0 auto;
        overflow: hidden;
        background-color: aquamarine;
    }
}

.intro {
    
}

/*Medium Screem */

@media (min-width:30em) and (max-width:45em) {
   .intro {
        float: left;
        margin-right: 10%;
        background-color: lime;
        
}
    .main {
        float: left;
        margin-right: 10%;
        background-color: lime;
    }
 
}

/* Wide Screen */

@media (min-width:45em) and (max-width:200em) {
   .intro {
        float: left;
        width: 75%;
        margin-right: 2%;
        overflow: hidden;
        background-color: pink;
        
}
    .main {
        float: left;
        width: 75%;
        margin-right: 2%;
        overflow: hidden;
        background-color: pink;
    }
    
    .sidebar {
        float: left;
        width: 20%; 
        margin-right: 2%;
        background-color: yellow;
    }
 
}









/* General font keep at the very bottom */
@font-face{
  font-family: western;
    src: url(../assets/westernbangbang.otf);
}
